*{
    margin: 0;
    padding: 0;
}

.ant-space css-dev-only-do-not-override-j9bb5n ant-space-horizontal ant-space-align-center ant-space-gap-row-small ant-space-gap-col-small{
    display: flex;
    justify-content: flex-end;
}